In [16]:
import pandas as pd
import altair as alt

In [17]:
%%time
source = '/Users/antoniobravomunoz/Documents/DATA_SCIENCE_MASTER/TFM/Data-Science-Master-project/DATA/traffic_data_complete_visualizations.csv'
df = pd.read_csv(source,sep=',')

CPU times: user 42.5 s, sys: 9.46 s, total: 52 s
Wall time: 55.7 s

In [18]:
df.head()

,id,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion,Fecha,Hora,Date,Lat,Long,intensidad_zscore,ocupacion_zscore,carga_zscore,vmed_zscore,M30,URB,N
0,1001,M30,204,12,0,73,N,5,2018-01-01,00:00:00,2018-01-01 00:00:00,40.409729,-3.740786,-0.739126,0.975690,-0.829367,0.517939,1,0,1
1,1002,M30,252,1,0,79,N,5,2018-01-01,00:00:00,2018-01-01 00:00:00,40.408029,-3.743760,-0.703113,-0.589153,-0.829367,0.732259,1,0,1
2,1003,M30,420,2,0,82,N,5,2018-01-01,00:00:00,2018-01-01 00:00:00,40.406824,-3.746834,-0.577067,-0.446894,-0.829367,0.839419,1,0,1
3,1006,M30,288,1,0,75,N,5,2018-01-01,00:00:00,2018-01-01 00:00:00,40.411894,-3.736324,-0.676103,-0.589153,-0.829367,0.589379,1,0,1
4,1009,M30,276,0,0,76,N,5,2018-01-01,00:00:00,2018-01-01 00:00:00,40.416233,-3.724909,-0.685106,-0.731411,-0.829367,0.625099,1,0,1

In [19]:
df.dtypes

id                       int64
tipo_elem               object
intensidad               int64
ocupacion                int64
carga                    int64
vmed                     int64
error                   object
periodo_integracion      int64
Fecha                   object
Hora                    object
Date                    object
Lat                    float64
Long                   float64
intensidad_zscore      float64
ocupacion_zscore       float64
carga_zscore           float64
vmed_zscore            float64
M30                      int64
URB                      int64
N                        int64
dtype: object

In [20]:
df.shape

(10090919, 20)

In [21]:
alt.renderers.enable('notebook')

RendererRegistry.enable('notebook')

In [22]:
## Overide the limit
from altair import pipe, limit_rows, to_values
t = lambda data: pipe(data, limit_rows(max_rows=12000000), to_values)
alt.data_transformers.register('custom', t)
alt.data_transformers.enable('custom')

DataTransformerRegistry.enable('custom')

In [23]:
carga_char=alt.Chart(df).mark_bar().encode(
    x=alt.X("carga",bin=alt.Bin(maxbins=20)),
    y='count()'
)

vmed_char=alt.Chart(df).mark_bar().encode(
    x=alt.X("vmed",bin=alt.Bin(maxbins=20)),
    y='count()'
)

In [24]:
carga_char

In [ ]:
#escoger los puntos de medida que influyan en la ruta.
#si vemos que sigue yendo mal, hacer una agregación de cada hora, haciendo la media de los valores del tráfico. Esto se 
#debería hacer en el modulo de adquisición y preparación, al principio de todo, antes de transformar variables para evitar errores.
#https://chrisalbon.com/python/data_wrangling/group_pandas_data_by_hour_of_the_day/